""" Editing and Reloading the Config
set clipboard+=unnamed
set clipboard+=ideaput
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

""" WhichKey
set which-key
set notimeout
let g:WhichKey_FontFamily="GeistMono Nerd Font"

""" The Escape button
map <C-c> <Esc>
""" The Leader Key
let mapleader=" "
""" Distraction Free Mode
nnoremap <c-z> :action ToggleZenMode<CR>
""" Terminal
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
""" Navigation
nmap <Leader>h :split<CR>
nmap <Leader>v :vsplit<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <TAB> :action NextTab<CR>
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <Leader>en :action EditSourceInNewWindow<CR>
nnoremap <Leader>n :action NextWindow<CR>
nnoremap <Leader>q :action CloseEditor<CR>


""" Editing source code
set ideajoin
set idearefactormode=keep
vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <leader>cl :action CommentByLineComment<CR>
nnoremap <leader>cb :action CommentByBlockComment<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>= :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>a :action ShowIntentionActions<CR>

nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>fp :action SearchEverywhere<CR>
nnoremap <leader>ft :action TextSearchAction<CR>

nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap <leader>s :write<CR>
""" Searching and Source Code Navigation
set incsearch
vnoremap <leader>fp :action FindInPath<CR>
nnoremap <c-a> :action GotoAction<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>sr :action GotoRelated<CR>
nnoremap <leader>b :action ShowNavBar<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
""" Tool windows
nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>
""" Running and Debugging
nnoremap ,r :action Run<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>

""" Vim remaps
nnoremap <leader>yf V/{<CR>%y
nnoremap <leader>df V/{<CR>%d
