
""" Editing and Reloading the Config
set ignorecase
set clipboard+=unnamed
set clipboard+=ideaput
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

""" WhichKey
set which-key
set notimeout
let g:WhichKey_FontFamily="GeistMono Nerd Font"

""" Fuzzier
set fuzzier
noremap <Leader>fz :action com.mituuz.fuzzier.Fuzzier<CR>
noremap <Leader>mf :action com.mituuz.fuzzier.FuzzyMover<CR>

""" Harpoon
set harpooner
nnoremap <Leader>1 :action HarpoonerOpenFile0<CR>
nnoremap <Leader>2 :action HarpoonerOpenFile1<CR>
nnoremap <Leader>3 :action HarpoonerOpenFile2<CR>
nnoremap <Leader>4 :action HarpoonerOpenFile3<CR>

nnoremap <Leader>hm :action HarpoonerQuickMenu<CR>
nnoremap <Leader>ha :action HarpoonerAddFile<CR>

nnoremap <Leader>hn :action HarpoonerNextFileAction<CR>
nnoremap <Leader>hp :action HarpoonerPreviousFileAction<CR>)

vnoremap K :action MoveLineUp<CR>
vnoremap J :action MoveLineDown<CR>


let mapleader=" "
""" Distraction Free Mode
nnoremap <c-z> :action ToggleZenMode<CR>
""" Terminal
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
""" Navigation
nnoremap <leader>v :vsplit<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <s-l> :action NextTab<CR>
nnoremap <s-h> :action PreviousTab<CR>

"""windows
nnoremap <Leader>n :action NextWindow<CR>
nnoremap <Leader>q :action CloseEditor<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
nnoremap <leader>wa :action ActivateS-MScodeAssistToolWindow<CR>
nnoremap <leader>wh :action HideAllWindows<CR>

set visualbell
set noerrorbells
""" Editing source code
set ideajoin
set idearefactormode=keep
vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
vnoremap <leader>cb :action CommentByBlockComment<CR>
noremap <leader>cl :action CommentByLineComment<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>= :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>i :action ShowHoverInfo<CR>
nnoremap <leader>a :action ShowIntentionActions<CR>

noremap <leader>fp :action FindInPath<CR>
nnoremap <leader>fc :action GotoClass<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>fs :action GotoSymbol<CR>
nnoremap <leader>ft :action TextSearchAction<CR>

nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
""" Searching and Source Code Navigation
set incsearch
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>sr :action GotoRelated<CR>
nnoremap <leader>b :action ShowNavBar<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

""" Running and Debugging
nnoremap ,r :action Run<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>
nnoremap ,a :action RunAnything<CR>
nnoremap ,h :action LocalHistory.ShowHistory<CR>
""" Vim remap
nnoremap <leader>yf V/{<CR>%y
nnoremap <leader>df V/{<CR>%d
nnoremap Y y$
nnoremap Q @q
nnoremap <leader>p "0p
nnoremap <leader>d "_d
nnoremap <leader>c "_c
nnoremap U <C-r>
